* {
    border: none;
/*    border-radius: 16px; */
/*    font-family: SauceCodePro Nerd Font, FontAwesome; */
    font-family: Roboto Mono, FontAwesome;
    font-size: 14px;
    font-weight: bold;
    min-height: 0;
    background: black;
/*    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); */

}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.active {
/*    background: #64727D; */
    color: #f38ba8;
/*    border-bottom: 3px solid white; */
}

#backlight {
    background: transparent;
    padding: 0 4px;
}

#mode, #battery {
    background: transparent;
    padding: 0 5px;
    color: white;
}

#clock {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 5px;
   
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
    border-radius: 16px; 
    background-color: transparent;
}

#battery {
    color: white;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: transparent;
        color: white;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
